<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.candroid.realtracker">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".optionfragment.PolActivity"></activity>
        <activity android:name=".optionfragment.TActivity" />
        <activity android:name=".optionfragment.AboutActivity" />
        <activity android:name=".optionfragment.FrameActivity" />
        <activity android:name=".workout.FinishActivity" />
        <activity android:name=".workout.ExerciseActivity" />
        <activity android:name=".workout.WorkoutActivity" />
        <activity
            android:name=".stepCounter.StepActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".stepcounter.ui.StepActivity" />
        <activity android:name=".articales.CovidActivity" />
        <activity
            android:name=".articales.ArticlesActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".bmical.ResultOfBmiActivity" />
        <activity android:name=".bmical.BmiActivity" />
        <activity android:name=".habittracker.HabitActivity" />
        <activity android:name=".fitInfo.FitnessActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".chatbot.ChatActivity"
            android:parentActivityName=".chatbot.ChatActivity" />
        <activity android:name=".intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".authantication.ForgetActivity" />
        <activity android:name=".authantication.LoginActivity" />
        <activity android:name=".authantication.RagisterActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".stepcounter.service.StepDetectorService"
            android:label="@string/app_name" />
    </application>

</manifest>